@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}




@layer base {
  /* Regular (400) */
  @font-face {
    font-family: "Aeonik TRIAL";
    src: url("/fonts/AeonikTRIAL-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }
  /* Bold (700) */
  @font-face {
    font-family: "Aeonik TRIAL";
    src: url("/fonts/AeonikTRIAL-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }
  /* Add more weights/styles as needed */
}